<div id='review_<%= review.id %>'>
  <div class='clearfix'></div>
  <div class='margin-padded-space'>
    <div class='row'>
      <div class='col-md-1 col-md-offset-3'>
        <%= image_tag(review.user.profile_picture(:thumb), class: 'img-responsive img-review') %>
      </div>
      <div class='col-md-2 user-review'>
        <strong>
          <%= review.user.first_name %>
          <%= review.user.last_name %>
        </strong>
      </div>
      <div class='col-md-3 text-center review-owner-options'>
        <% if current_user.present? %>
          <% if review.user == current_user %>
            <span>
              <%= link_to 'Edit', edit_movie_review_path(@movie, review), class: 'button btn btn-sm btn-primary' %>
            </span>
            <span>
              <%= link_to 'Remove', [@movie, review], method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'button btn btn-sm btn-warning' %>
            </span>
          <% else %>
            <div id = 'report_<%= review.id %>' >
              <%= form_for([@movie, review, review.reports.build], remote: true) do |f| %>
                <%= button_tag(data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger') do %>
                  <span class='glyphicon glyphicon-thumbs-down'>
                    <%= review.reports.count %>
                  </span>
                <% end %>
              <% end %>
            </div>
            <div class='clearfix'></div>
            <div id= 'report_submit_<%= review.id %>' class='report-sub-msg'> Reported!</div>
            <div class='clearfix'></div>
            <div id= 'already_reported_<%= review.id %>' class='report-sub-msg'> Aleady reported!</div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='clearfix'></div>
    <div class='review-msg-space col-md-6 col-md-offset-3'>
      <%= review.content %>
    </div>
  </div>
  <div class='clearfix'></div>
  <hr>
</div>
